<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pond.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCBD6F111F5674E90008B82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCBD6F291F5674EA0008B82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCBD6F341F5674EA0008B82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
